@model VastVoyages.Model.Item

@{
    ViewBag.Title = "Edit Item";
    Layout = "~/Views/Shared/_NavTemplate.cshtml";
}

<div class="container" style="width: 95%; margin-top: 5%;">
    <h1 style="text-align:center;">Edit Item</h1>
    <br /><br />
    <div class="col-md-offset-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.PONumber)
            @Html.HiddenFor(model => model.RecordVersion)

            <h4>Item Details</h4>
            <hr />
            <div class="form-row">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-10" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ItemDescription, htmlAttributes: new { @class = "control-label col-md-10" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.ItemDescription, new { @class = "form-control", @rows = "6" })
                            @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Justification, htmlAttributes: new { @class = "control-label col-md-10" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Justification, new { @class = "form-control", @rows = "6" })
                            @Html.ValidationMessageFor(model => model.Justification, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-10" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-10" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-10" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="checkbox" id="chkNoNeed" name="chkNoNeed" value="1"/> @Html.Label("No longer needed")
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="text-align:center">
                            <button type="submit" value="Create" class="btn btn-info">Save Item</button>
                        </div>
                    </div>
                    </div>
            </div>
            if (Model.Errors.Count > 0)
            {
                <div class="text-danger">
                    <ul>
                        @foreach (var e in Model.Errors.Where(err => err.ErrorType == VastVoyages.Types.ErrorType.Business))
                        {
                            <li>@e.Description</li>

                        }
                    </ul>
                </div>
            }
        }
        <div>
            @Html.ActionLink("Back to List", "Edit", new { PONumber = Model.PONumber })
        </div>

    </div>    
</div>
