@model  VastVoyages.Model.Review

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_NavTemplate.cshtml";
}

<div class="container" style="width: 95%; margin-top: 5%;">

    <h2>Review Id: @Model.EmployeeReviewId</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <div class="container">
                <div class="row border p-5">
                    <div class="col-sm">
                        <dt>
                            Year
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ReviewDate.Year)

                        </dd>
                        <dt>
                            Quarter
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Quarter)
                        </dd>
                        <dt>
                            Date
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ReviewDate)
                        </dd>
                    </div>
                    <div class="col-sm">
                        <dt>
                            Rating
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.RatingString)
                        </dd>
                        <dt>
                            Supervisor
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SupervisorFullName)
                        </dd>
                    </div>
                </div>
            </div>
        </dl>
    </div>

    @Html.ActionLink("Back to Review List", "EmployeeReviews", new { employeeId=@Model.EmployeeId})

</div>